<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Plot</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE PLOT</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form action="#" th:action="@{/ui/plot/update}" th:object="${plot}"
              method="POST">
            <label for="num1">Id</label>
            <input id="num1" readonly th:field="*{id}"/>
            <label for="num2">Number</label>
            <input id="num2" th:field="*{number}"  required>
            <label for="num3">ProduceList</label>
            <select multiple id="num3" th:field="*{produceList}">
                <option th:value="${null}">Null</option>
                <option th:each="produceListId: ${produceListId}"
                        th:value="${produceListId.id}" th:text="${produceListId.product.kind}">
                </option>
            </select>
            <label for="num4">Head</label>
            <select id="num4" th:field="*{head}"  required>
                <option th:value="${null}">Null</option>
                <option th:each="engineerListId: ${engineerListId}"
                        th:value="${engineerListId.id}" th:text="${engineerListId.experience}">
                </option>
            </select>
            <label for="num5">BrigadeList</label>
            <select multiple id="num5" th:field="*{brigadeList}">
                <option th:value="${null}">Null</option>
                <option th:each="brigadeListId: ${brigadeListId}"
                        th:value="${brigadeListId.id}" th:text="${brigadeListId.brigadier.person.firstName}">
                </option>
            </select>
            <label for="num6">EngineerList</label>
            <select multiple id="num6" th:field="*{engineerList}">
                <option th:value="${null}">Null</option>
                <option th:each="engineerListId: ${engineerListId}"
                        th:value="${engineerListId.id}" th:text="${engineerListId.experience}">
                </option>
            </select>
            <button type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/plot/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>