<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Brigade</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE BRIGADE</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form action="#" th:action="@{/ui/brigade/update}" th:object="${brigade}"
              method="POST">
            <label for="num1">Id</label>
            <input id="num1" readonly th:field="*{id}"/>
            <label for="num3">Brigadier</label>brigadier
            <select id="num3" th:field="*{brigadier}">
                <option th:value="${null}">Null</option>
                <option th:each="workerListId: ${workerListId}"
                        th:value="${workerListId.id}" th:text="${workerListId.person.firstName}">
                </option>
            </select>
            <label for="num4">WorkerList</label>
            <select multiple id="num4" th:field="*{workerList}">
                <option th:value="${null}">Null</option>
                <option th:each="workerListId: ${workerListId}"
                        th:value="${workerListId.id}" th:text="${workerListId.person.firstName}">
                </option>
            </select>
            <button type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/brigade/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>