<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Missile List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div style="position: absolute; left: 50%; transform: translate(-50%, 0)">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Issue</th>
                    <th>ClassOfMissile</th>
                    <th>MissileStuffing</th>
                    <th>ChargePower</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th class="options" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="missile: ${missileList}">
                <td th:text="${missile.id}"></td>
                <td th:text="${missile.name}"></td>
                <td th:text="${missile.model}"></td>
                <td th:text="${missile.type}"></td>
                <td th:text="${missile.issue}"></td>
                <td th:text="${missile.classOfMissile}"></td>
                <td th:text="${missile.missileStuffing}"></td>
                <td th:text="${missile.chargePower}"></td>
                <td th:text="${missile.createdAt}"></td>
                <td th:text="${missile.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/missile/delete/{id}(id=${missile.id})}">
                        <button class="btn delBtn" style="transition: 0.5s; padding: 0">Delete</button>
                    </a>
                    <a th:href="@{/ui/missile/showUpdateForm/{id}(id=${missile.id})}">
                        <button class="btn uppBtn" style="transition: 0.5s; padding: 0">Update</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href = "@{/ui/missile/showNewForm}">
            <button class="btn addBtn" style="transition: 0.5s; padding: 0">Add</button>
        </a>
    </div>
</body>
</html>