<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Missile</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD MISSILE</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px">
    <form action="#" th:action="@{/ui/missile/add}" th:object="${missile}"
          method="POST">
        <label for="num2">Name</label>
        <input id="num2" th:field="*{name}"  required>
        <label for="num3">Model</label>
        <input id="num3" th:field="*{model}"  required>
        <label for="num4">Type</label>
        <input id="num4" th:field="*{type}"  required>
        <label for="num5">Issue</label>
        <input id="num5" type="number" th:field="*{issue}"  required>
        <label for="num6">ClassOfMissile</label>
        <input id="num6" th:field="*{classOfMissile}"  required>
        <label for="num7">MissileStuffing</label>
        <input id="num7" th:field="*{missileStuffing}"  required>
        <label for="num8">ChargePower</label>
        <input id="num8" type="number" th:field="*{chargePower}"  required>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>
<hr>

<a th:href="@{/ui/missile/get/all}">
    <button class="backBtn" style="padding: 0">Back</button>
</a>
</body>
</html>