<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Transport</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE TRANSPORT</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form action="#" th:action="@{/ui/transport/update}" th:object="${transport}"
              method="POST">
            <label for="num1">Id</label>
            <input id="num1" readonly th:field="*{id}"/>
            <label for="num2">Cargo</label>
            <input id="num2" type="number" th:field="*{cargo}"  required>
            <label for="num3">Equipped</label>
            <input id="num3" th:field="*{equipped}"  required>
            <label for="num4">IsGuard</label>
            <select id="num4" th:field="*{isGuard}"  required>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <label for="num5">IsHatch</label>
            <select id="num5" th:field="*{isHatch}"  required>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <button type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/transport/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>