<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD PERSON</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px">
    <form action="#" th:action="@{/ui/person/add}" th:object="${person}"
          method="POST">
        <label for="num2">FirstName</label>
        <input id="num2" th:field="*{firstName}"  required>
        <label for="num3">SecondName</label>
        <input id="num3" th:field="*{secondName}"  required>
        <label for="num4">Year</label>
        <input id="num4" type="number" th:field="*{year}"  required>
        <label for="num5">Telephone</label>
        <input id="num5" th:field="*{telephone}"  required>
        <label for="num6">Address</label>
        <input id="num6" th:field="*{address}"  required>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>
<hr>

<a th:href="@{/ui/person/get/all}">
    <button class="backBtn" style="padding: 0">Back</button>
</a>
</body>
</html>