<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div style="position: absolute; left: 50%; transform: translate(-50%, 0)">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>SecondName</th>
                    <th>Year</th>
                    <th>Telephone</th>
                    <th>Address</th>
                    <th>CreatedAt</th>
                    <th>ModifiedAt</th>
                    <th class="options" colspan="2">OPTIONS</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="person: ${personList}">
                <td th:text="${person.id}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.secondName}"></td>
                <td th:text="${person.year}"></td>
                <td th:text="${person.telephone}"></td>
                <td th:text="${person.address}"></td>
                <td th:text="${person.createdAt}"></td>
                <td th:text="${person.modifiedAt}"></td>
                <td>
                    <a th:href="@{/ui/person/delete/{id}(id=${person.id})}">
                        <button class="btn delBtn" style="transition: 0.5s; padding: 0">Delete</button>
                    </a>
                    <a th:href="@{/ui/person/showUpdateForm/{id}(id=${person.id})}">
                        <button class="btn uppBtn" style="transition: 0.5s; padding: 0">Update</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href = "@{/ui/person/showNewForm}">
            <button class="btn addBtn" style="transition: 0.5s; padding: 0">Add</button>
        </a>

        <a th:href = "@{/ui/menu}">
            <button class="btn menuBtn" style="transition: 0.5s; padding: 0">Menu</button>
        </a>
    </div>
</body>
</html>