<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Produce</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="segment">
    <h1>ADD PRODUCE</h1>
</div>
<div class="updateForm" style="margin-bottom: 150px">
    <form action="#" th:action="@{/ui/produce/add}" th:object="${produce}"
          method="POST">
        <label for="num2">Product</label>
        <select id="num2" th:field="*{product}">
            <option th:value="${null}">Null</option>
            <option th:each="productListId: ${productListId}"
                    th:value="${productListId.id}" th:text="${productListId.kind}">
            </option>
        </select>
        <label for="num3">Amount</label>
        <input id="num3" type="number" th:field="*{amount}"  required>
        <label for="num4">Date</label>
        <input id="num4" th:field="*{date}"  required>
        <label for="num5">Status</label>
        <input id="num5" th:field="*{status}"  required>
        <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
    </form>
</div>
<hr>

<a th:href="@{/ui/produce/get/all}">
    <button class="backBtn" style="padding: 0">Back</button>
</a>
</body>
</html>