<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Shop</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>UPDATE SHOP</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form action="#" th:action="@{/ui/shop/update}" th:object="${shop}"
              method="POST">
            <label for="num1">Id</label>
            <input id="num1" readonly th:field="*{id}"/>
            <label for="num2">PlotList</label>
            <select multiple id="num2" th:field="*{plotList}">
                <option th:value="${null}">Null</option>
                <option th:each="plotListId: ${plotListId}"
                        th:value="${plotListId.id}" th:text="${plotListId.number}">
                </option>
            </select>
            <label for="num3">Head</label>
            <select id="num3" th:field="*{head}">
                <option th:value="${null}">Null</option>
                <option th:each="engineerListId: ${engineerListId}"
                        th:value="${engineerListId.id}" th:text="${engineerListId.experience}">
                </option>
            </select>
            <label for="num4">LaboratoryList</label>
            <select multiple id="num4" th:field="*{laboratoryList}">
                <option th:value="${null}">Null</option>
                <option th:each="laboratoryListId: ${laboratoryListId}"
                        th:value="${laboratoryListId.id}" th:text="${laboratoryListId.address}">
                </option>
            </select>
            <label for="num5">Area</label>
            <input id="num5" th:field="*{area}">
            <button type="submit" class="updateBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">DONE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/shop/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
</body>
</html>